<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
</head>

<body>
    <header>
        <h1>Saeeduddin Mohammed / N01547224</h1>
    </header>
    <div class="contents">
        {{{body}}}
    </div>
    <footer>
        <p>N01547224@humber.ca</p>
    </footer>
</body>

</html>